<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Diabetes Disease Prediction</title>
  </head>
  <body class="bg-primary text-white">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'home' %}">Disease Predictor</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link mr-3 " href="{% url 'heart' %}"
            >Heart Disease Prediction
          </a>
          <a class="nav-item nav-link mr-3" href="{% url 'diabetes' %}"
            >Diabetes Prediction
          </a>
          <a
            class="nav-item nav-link btn btn-success peach-gradient text-white"
            href="{% url 'breast' %}"
            >Breast Cancer Prediction<span class="sr-only">(current)</span></a
          >
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="display-3 my-2 text-center">Breast Cancer Prediction</div>
      <hr />
      {% if context %}
      <div class="display-4 my-2 text-center">
        You {{ context }} breast cancer.
      </div>
      {% endif %}

      <!-- 
      19:46:19 09 Oct, 2019 by Arjun Adhikari
      Form Here 
      -->
      <div class="col-md-4">
        <form class="" method="POST" action="{% url 'breast' %}">
          {% csrf_token %}
          <div class="">
            <div class="form-group">
              <label for="radius">Mean Radius</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="radius"
                value="0"
                name="radius"
              />
            </div>
            <div class="form-group">
              <label for="texture">Mean Texture</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="texture"
                value="0"
                name="texture"
              />
            </div>
            <div class="form-group">
              <label for="perimeter">Mean Perimeter</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="perimeter"
                value="0"
                name="perimeter"
              />
            </div>
            <div class="form-group">
              <label for="area">Mean Area</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="area"
                value="0"
                name="area"
              />
            </div>
            <div class="form-group">
              <label for="smoothness">Mean Smoothness</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="smoothness"
                value="0"
                name="smoothness"
              />
            </div>
          </div>
          <div class="mt-4">
            <button type="submit" class="btn-lg btn-block btn btn-danger mb-5">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
