{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Disease Predictor</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'home' %}">Disease Predictor</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link mr-3 " href="{% url 'heart' %}"
            >Heart Disease Prediction
          </a>
          <a class="nav-item nav-link mr-3" href="{% url 'diabetes' %}"
            >Diabetes Disease Prediction
          </a>
          <a class="nav-item nav-link " href="{% url 'breast' %}"
            >Breast Cancer Prediction</a
          >
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <h1 class="display-5">Hello, People!</h1>
      <p class="lead ">
        I've developed a web app for heart disease prediction, diabetes prediction and breast cancer prediciton using Machine Learning based on the Kaggle Datasets.
      </p>
      <p>
        Developed by <strong>Arjun Adhikari</strong>
      </p>
      <p class="lead">
        <a class="btn btn-dark btn-lg" href="https://github.com/theArjun/disease-predictor" role="button">View on GitHub</a>
      </p>
    </div>

    <section class="pricing py-5">
      <div class="container">
        <div class="row">
          <!-- Free Tier -->
          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">
                  HEART DISEASE PREDICTION
                </h5>

                <hr />
                <p class="">
                  Heart disease is one of the biggest cause for morbidity and
                  mortality among the population of the world. Prediction of
                  cardiovascular disease is regarded as one of the most
                  important subject in the section of clinical data analysis.
                  The amount of data in the healthcare industry is huge. Data
                  mining turns the large collection of raw healthcare data into
                  information that can help to make informed decision and
                  prediction.
                </p>
                <a
                  href="{% url 'heart' %}"
                  class="btn btn-block btn-danger text-uppercase"
                  >KNOW HEART STATUS</a
                >
              </div>
            </div>
          </div>
          <!-- Plus Tier -->
          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">
                  DIABETES PREDICTION
                </h5>

                <hr />
                <p class="">
                  Diabetes is considered as one of the deadliest and chronic
                  diseases which causes an increase in blood sugar. Many
                  complications occur if diabetes remains untreated and
                  unidentified. The tedious identifying process results in
                  visiting of a patient to a diagnostic center and consulting
                  doctor. But the rise in machine learning approaches solves
                  this critical problem.
                </p>
                <a
                  href="{% url 'diabetes' %}"
                  class="btn btn-block btn-dark text-uppercase"
                  >KNOW DIABETES STATUS</a
                >
              </div>
            </div>
          </div>
          <!-- Pro Tier -->
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">
                  BREAST CANCER PREDICTION
                </h5>

                <hr />
                <p class="">
                  Breast cancer is one of the most common cancers among
                  women worldwide, representing the majority of new cancer cases
                  and cancer-related deaths according to global statistics,
                  making it a significant public health problem in today’s
                  society.
                </p>
                <a
                  href="breast"
                  class="btn btn-block btn-primary text-uppercase"
                  >KNOW BREAST CANCER STATUS</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
