<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Disease Predictor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link mr-3 {% if heart %} {{active}} {% endif %} " href="{% url 'heart' %}">Heart
                Disease Prediction
            </a>
            <a class="nav-item nav-link mr-3 {% if diabetes %} {{active}} {% endif %} "
                href="{% url 'diabetes' %}">Diabetes Prediction
            </a>
            <a class="nav-item nav-link mr-3 {% if breast %} {{active}} {% endif %} " href="{% url 'breast' %}">Breast
                Cancer Prediction</a>
        </div>
    </div>
</nav>
